

/*-------Navigation-------*/    
.navigation{
	position: fixed;
	background-color:white;
	opacity: 0.8;
	padding-top: 13px;
	text-align: center;
	margin-top: 15px;
	z-index: 10;
}

.navigation li{
	list-style-type: none;
	display: inline;
	padding-right: 20px;
	padding-left: 20px;
}

.navigation a{
	font-family: Quicksand, sans-serif;
	font-weight: 400;
	font-size: 20px;
	color:	#EDA573;
}

.navigation a:hover{
	color:	#808080;
	text-decoration: none;
}


/*-------Homepage-------*/ 
.home{
	border-top: 15px solid #EDA573;
	display: block;
	min-height: 981px;	
}
   
.logo img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-height: 100%;
	max-width: 100%;
	padding-top: 10%;
	padding-bottom: 10%;
}


/*-------Footer---------*/
.footer{
	display: block;
	height: 20%;
	color: #EDA573;
	background-color: #FFFFFF;
	font-family: Quicksand, sans-serif;
	margin-top: 9px;
	text-align: center;
	font-size: 15px; 
}

.footer a{
	text-decoration: none;
	color: #EDA573;

}

.footer a:hover{
	color: #F26970;
	text-decoration: none;
}


/*-------Profile-------*/    
.about{
	background-color: #EDA573;
	min-height: 981px;	
	display: block;
}

.experience{
	height: 750px;
	background-color: #FFFFFF;
	margin-top: 6%;
	border: 30px solid #EDA573;	
	border-radius: 50px;
}

.me{
	background-color: #FFFFFF;
	height: 750px;
	margin-top: 6%;
	border: 30px solid #EDA573;
	border-radius: 50px;
}

.education{
	background-color: #FFFFFF;
	height: 750px;
	margin-top: 6%;
	border: 30px solid #EDA573;
	border-radius: 50px;
}

.experience img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 35px;
	padding-bottom: 25px;
	max-height: 40%;
}

.me img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 35px;
	padding-bottom: 25px;
	max-height: 40%;
}

.education img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 35px;
	padding-bottom: 25px;
	max-height: 40%;
}

#experience-text{
	color: #808080;
	font-family: Quicksand, sans-serif;
	font-size: 17px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 22px;	
	padding-left: 100px;
	padding-right: 100px;
}

#experience-text a{
	color: #808080;
	font-family: Quicksand, sans-serif;
	font-size: 17px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 22px;	
}

#experience-text a:hover{
	text-decoration: none;
	color:#F26970;
}

#me-text{
	color: #808080;
	font-family: Quicksand, sans-serif;
	font-size: 17px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 22px;	
	padding-left: 100px;
	padding-right: 100px;
}

#me-text a{
	color: #808080;
	font-family: Quicksand, sans-serif;
	font-size: 17px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 22px;	
}

#me-text a:hover{
	text-decoration: none;
	color:#F26970;
}

#education-text{
	color: #808080;
	font-family: Quicksand, sans-serif;
	font-size: 17px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 22px;
	padding-left: 100px;
	padding-right: 100px;	
}

#education-text a{
	color: #808080;
	font-family: Quicksand, sans-serif;
	font-size: 17px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 22px;
}

#education-text a:hover{
	text-decoration: none;
	color:#F26970;
}

#experience-subhead{
	color: #808080;
	font-family: Quicksand, sans-serif;
	font-size: 17px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 22px;	
	font-weight: 700;
	padding-left: 40px;
	padding-right: 40px;
}

#education-subhead{
	color: #808080;
	font-family: Quicksand, sans-serif;
	font-size: 17px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 22px;	
	font-weight: 700;
	padding-left: 40px;
	padding-right: 40px;
}


/*-------Folio-------*/    
.folio{
	display: block;
	min-height: 981px;	
}

.folio-container{
	margin-top:10%;
}


 /* Carousel base class */
 
    .carousel {
      background-color: #FFFFFF;
    }

    .carousel {
      position: block;
      z-index: 5;
    }

    .carousel-control {
      margin-left: 50px;
      margin-right: 130px;
      font-size: 500px;
      background-color: transparent;
      color: #EDA573;
      border: 0;
    }
    
    .carousel-control:hover{
    color: #F26970;    
    }
   
    .carousel .item {
      max-height: 100%;
      max-width: 100%;
    }
    
    .carousel img {
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      max-height: 100%;
    }

    .container{
	    background: #FFFFF;
	    display: block;
	    padding-top: 5%;
    }
    
    .carousel-caption {
		 background: none;
	}
	
	.carousel-caption p{
	  font-family: Quicksand, sans-serif;
	  font-size: 30px;
	  text-align: center;
	  margin-left: auto;
	  margin-right: auto;
	  color: #808080;
	  font-weight: 300;
	} 
	
	.carousel-caption a{
	  color: #EDA573;
	} 
	
	.carousel-caption a:hover{
	  color: #F26970;
	  text-decoration: none;
	} 

    
    
/*-------Contact-------*/    
.contact{
	min-height: 250px;
	background-color: #EDA573;
}

.contact-buttons{
	vertical-align: middle;
}	

.contact-buttons li{
	display: inline;
	list-style-type: none;
}

.contact-buttons a{
	border-radius: 100px;
	width: 100px;
	height: 100px;
	background-color: #FFFFFF;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-decoration: none;
	margin-top: 50px;
}

.contact-buttons a:hover{
	border: 5px solid #F26970;
}

.contact-buttons p{
	color: #FFFFFF;
	font-family: Quicksand, sans-serif;
	font-size: 20px;
	text-align: center;
}

i.ss-icon{
	color: #F26970;
	opacity: .8;
	font-size: 45px;
	text-align: center;
	line-height: 115px;
}



    
   
       
       
 /*-------------------------------------------*/      
/*--------------- RESPONSIVE CSS---------------*/

/* Large desktop */
@media (min-width: 1200px) { ... }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 


/*-------Navigation-------*/    
.navigation-bar{
	margin-left: auto;
	margin-right: auto;
}

.navigation{
	position: fixed;
	background-color:white;
	opacity: 0.8;
	padding-top: 13px;
	text-align: center;
	z-index: 10;
	display: block;
}

/*-------Home-------*/    
.home{
	border-top: 10px solid #EDA573;
	display: block;
	min-height: 1025px;	
}
.logo img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-height: 100%;
	max-width: 100%;
	padding-top: 30%;
	padding-bottom:30%;
}
		
/*-------Profile-------*/    
.about{
	background-color: #EDA573;
	min-height: 1025px;	
	display: block;
}

.experience{
	height: 700px;
	background-color: #FFFFFF;
	margin-top: 20%;
	border: 5px solid #EDA573;	
	border-radius: 15px;
}

.me{
	background-color: #FFFFFF;
	height: 700px;
	margin-top: 20%;
	border: 5px solid #EDA573;
	border-radius: 15px;
}

.education{
	background-color: #FFFFFF;
	height: 700px;
	margin-top: 20%;
	border: 5px solid #EDA573;
	border-radius: 15px;
}


.experience img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 65px;
	padding-bottom: 35px;
	max-height: 35%;
}

.me img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 65px;
	padding-bottom: 35px;
	max-height: 35%;
}

.education img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 65px;
	padding-bottom: 35px;
	max-height: 35%;
}

#experience-text{
	color: #808080;
	font-family: Quicksand, sans-serif;
	font-size: 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 20px;	
	padding-left: 10px;
	padding-right: 10px;
}

#experience-text a{
	color: #808080;
	font-family: Quicksand, sans-serif;
	font-size: 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 20px;	
}

#experience-text a:hover{
	text-decoration: none;
	color:#F26970;
}

#me-text{
	color: #808080;
	font-family: Quicksand, sans-serif;
	font-size: 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 20px;	
	padding-left: 10px;
	padding-right: 10px;
}

#me-text a{
	color: #808080;
	font-family: Quicksand, sans-serif;
	font-size: 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 20px;	
}

#me-text a:hover{
	text-decoration: none;
	color:#F26970;
}

#education-text{
	color: #808080;
	font-family: Quicksand, sans-serif;
	font-size: 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 20px;
	padding-left: 10px;
	padding-right: 10px;	
}

#education-text a{
	color: #808080;
	font-family: Quicksand, sans-serif;
	font-size: 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 20px;
	
}

#education-text a:hover{
	text-decoration: none;
	color:#F26970;
}

#experience-subhead{
	color: #808080;
	font-family: Quicksand, sans-serif;
	font-size: 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 20px;	
	font-weight: 700;
	padding-left: 10px;
	padding-right: 10px;
}

#education-subhead{
	padding-left: 10px;
	padding-right: 10px;
}

/*-------Folio-------*/    
.folio{
	display: block;
	min-height: 550px;	
}

.folio-container{
	margin-top:15%;
}

 /* Carousel base class */
 
    .carousel {
      background-color: #FFFFFF;
    }

    .carousel {
      position: block;
      z-index: 5;
    }

    .carousel-control {
      margin-left: 0;
      margin-right: 70px;
      font-size: 500px;
      background-color: transparent;
      color: #EDA573;
      border: 0;
    }
    
    .carousel-control:hover{
    color: #F26970;    
    }
   
    .carousel .item {
      max-height: 100%;
      max-width: 100%;
    }
    
    .carousel img {
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      max-height: 100%;
    }

    .container{
	    background: #FFFFF;
	    display: block;
	    padding-top: 5%;
    }
    
    .carousel-caption {
		 background: none;
		 padding: 0;
	}
	
	.carousel-caption p{
	  font-family: Quicksand, sans-serif;
	  font-size: 20px;
	  text-align: center;
	  margin-left: auto;
	  margin-right: auto;
	  color: #808080;
	  font-weight: 300;
	} 
	
	.carousel-caption a{
	  color: #EDA573;
	} 
	
	.carousel-caption a:hover{
	  color: #F26970;
	  text-decoration: none;
	} 
}
 
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

/*-------Navigation-------*/    
.navigation-bar{
	margin-left: auto;
	margin-right: auto;
}

.navigation{
	position: fixed;
	background-color:white;
	opacity: 0.8;
	padding-top: 13px;
	text-align: left;
	z-index: 10;
	display: block;
}

.navigation li{
	list-style-type: none;
	display: inline;
	padding-left: 2px;
	padding-right: 10px;
}

.navigation a{
	font-family: Quicksand, sans-serif;
	font-weight: 400;
	font-size: 16px;
	color:	#EDA573;
	padding: 0;
}

.navigation a:hover{
	color:	#808080;
	text-decoration: none;
}

/*-------Home-------*/    
.home{
	border-top: 10px solid #EDA573;
	display: block;
	min-height: 450px;	
}

.logo img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-height: 100%;
	max-width: 100%;
	padding-top: 25%;
	padding-bottom:10%;
}
		
/*-------Profile-------*/    

.about{
	background-color: #EDA573;
	min-height: 1525px;	
	display: block;
}

.experience{
	height: 500px;
	background-color: #FFFFFF;
	margin-top: 3%;
	border: 15px solid #EDA573;	
	border-radius: 25px;
}

.me{
	background-color: #FFFFFF;
	height: 500px;
	margin-top: 3%;
	border: 15px solid #EDA573;
	border-radius: 25px;
}

.education{
	background-color: #FFFFFF;
	height: 500px;
	margin-top: 3%;
	border: 15px solid #EDA573;
	border-radius: 25px;
}

.experience img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 35px;
	padding-bottom: 25px;
	max-height: 35%;
}

.me img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 35px;
	padding-bottom: 25px;
	max-height: 35%;
}

.education img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 35px;
	padding-bottom: 25px;
	max-height: 35%;
}

#experience-text{
	color: #808080;
	font-family: Quicksand, sans-serif;
	font-size: 13px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 17px;	
	padding-left: 10px;
	padding-right: 10px;
}

#experience-text a{
	color: #808080;
	font-family: Quicksand, sans-serif;
	font-size: 13px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 17px;	
}

#experience-text a:hover{
	text-decoration: none;
	color:#F26970;
}

#me-text{
	color: #808080;
	font-family: Quicksand, sans-serif;
	font-size: 13px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 17px;	
	padding-left: 10px;
	padding-right: 10px;
}

#me-text a{
	color: #808080;
	font-family: Quicksand, sans-serif;
	font-size: 13px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 17px;	

}

#me-text a:hover{
	text-decoration: none;
	color:#F26970;
}

#education-text{
	color: #808080;
	font-family: Quicksand, sans-serif;
	font-size: 13px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 17px;
	padding-left: 10px;
	padding-right: 10px;	
}

#education-text a{
	color: #808080;
	font-family: Quicksand, sans-serif;
	font-size: 13px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 17px;
}

#education-text a:hover{
	text-decoration: none;
	color:#F26970;
}

#experience-subhead{
	color: #808080;
	font-family: Quicksand, sans-serif;
	font-size: 13px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 17px;	
	font-weight: 700;
	padding-left: 10px;
	padding-right: 10px;
}

#education-subhead{
	color: #808080;
	font-family: Quicksand, sans-serif;
	font-size: 13px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 17px;	
	font-weight: 700;
	padding-left: 10px;
	padding-right: 10px;
}
	
/*-------Folio-------*/    
   
.folio{
    display:none;
}

#folio{
    display:none;
}

/*-------Contact-------*/    
.contact-buttons ul{
	 margin: 0;
	 padding-bottom: 10%;
}
.contact{
	min-height: 700px;
	background-color: #EDA573;
}
}

/* Landscape phones and down */
@media (max-width: 480px) { }


