
html,body{
    margin:0 !important;
    margin-left: 0!important;
    padding:0 !important;
    max-width: 100%;
    text-align:left;
    background-image: url('img/skin_side_up.png');
    background-repeat: repeat;
} 

/*-------Home/Navigation-------*/    
.navigation{
    width: 100%;
    margin-top: 40px;    
    margin-left:0 !important;
    text-align:center;
}

.navigation-list{
    margin-top: 10px;    
}

.navigation-list ul{
    margin-left: 0;
    text-align: center;
}

.navigation-list li{
    display:inline;
	list-style-type: none;
	margin-right: 20px;
	margin-left: 20px;
}

.navigation-list a{
	font-family: 'Antic Slab', serif;
	font-size: 15px;
	color:	black;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid #FBB15B;
    text-align: center;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    -ms-transition: all .7s ease;
    transition: all .7s ease;
}

.navigation-list a:hover{
	color:	#808080;
	text-decoration: none;
    border-bottom: 2px solid black;
}

#logo img{
    width: 24%;
    margin-top: 10px;
}



/*-------Profile-------*/  

.profile{
    margin-top: 90px;
    margin-bottom: 60px;
}

.content{
    background-color: white;
    font-family: 'Antic Slab', serif;
    font-size: 13px;
	color:	black;
    padding: 40px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 0 2px 2px -2px #808080;
    -moz-box-shadow: 0 2px 2px -2px #808080;
    box-shadow: 0 2px 2px -2px #808080;
}

#underline{
    font-size: 15px;
    border-bottom: 2px solid #FBB15B;
}



/*-------Folio-------*/  

.image-list{
    font-family: 'Antic Slab', serif;
	color:	black;
    padding: 40px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 0 2px 2px -2px #808080;
    -moz-box-shadow: 0 2px 2px -2px #808080;
    box-shadow: 0 2px 2px -2px #808080;
    background-color: white;
}

.image img{ 
    margin-top:2px;
    margin-bottom: 2px;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    -ms-transition: all .7s ease;
    transition: all .7s ease;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.image img:hover{
    -webkit-transform: scale(1.1) translateZ(0);
    -moz-transform: scale(1.1) translateZ(0);
    -o-transform: scale(1.1) translateZ(0);
    transform: scale(1.1) translateZ(0);
}

/*-------Contact-------*/  

.contact{
    margin-top: 60px;
    margin-bottom: 60px;
}

.contact-buttons{
    font-family: 'Antic Slab', serif;
    font-size: 13px;
	color:	black;
    display: inline;
    background-color: white;
    padding: 40px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 0 2px 2px -2px #808080;
    -moz-box-shadow: 0 2px 2px -2px #808080;
    box-shadow: 0 2px 2px -2px #808080;
    text-align:left;
}	

.contact-buttons ul{
	text-align: center;
	list-style-type: none;
    margin-bottom: 0px !important;
    padding-top: 20px;
    margin-left: 0 !important;
}

.contact-buttons li{
    border-bottom: 2px solid #FBB15B;
    padding-top: 20px;
}

.contact-buttons a{
    font-family: 'Antic Slab', serif;
    font-size: 11px;
	color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    -ms-transition: all .7s ease;
    transition: all .7s ease;
}

.contact-buttons a:hover{
    text-decoration: none;
    color: #808080;
}

i.ss-icon{
	color: #808080;
	font-size: 50px;
	text-align: center;
    line-height: 55px;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    -ms-transition: all .7s ease;
    transition: all .7s ease;
    padding-bottom: 5px;
}

.ss-icon:hover{
    text-decoration: none !important;
    color: black;
}



/*-------Footer-------*/  

.footer-content{
    background-color: #FBB15B;
    font-family: 'Antic Slab', serif;
    font-size: 11px;
    line-height: 14px;
	color:	white;
    text-align:center;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 0 2px 2px -2px #808080;
    -moz-box-shadow: 0 2px 2px -2px #808080;
    box-shadow: 0 2px 2px -2px #808080;
    margin-bottom: 20px;
    vertical-align: middle;
}

#footer{
    padding-top: 10px;
}

#footer a{
	color:	white;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid white;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    -ms-transition: all .7s ease;
    transition: all .7s ease;    
}

#footer a:hover{
    text-decoration: none;
    color: black;
    border-bottom: 2px solid black;    
}    



/*-------Scroll-------*/  

.scrollup {
    background: url("img/scroll.png") no-repeat scroll 0 0 transparent;
    bottom: 20px;
    display: none;
    height: 70px;
    position: fixed;
    right: 20px;
    text-indent: -9999px;
    width: 40px;
    z-index: 100;
}


/*-------Responsive-------*/  

/* Large desktop */
@media (min-width: 1200px) { ... }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {     
    html,body{
        margin-left:25px !important;
        margin-right:25px !important;
    }  
    
    i.ss-icon{
        color: #808080;
        font-size: 25px;
        text-align: center;
        line-height: 55px;
        -webkit-transition: all .7s ease;
        -moz-transition: all .7s ease;
        -o-transition: all .7s ease;
        -ms-transition: all .7s ease;
        transition: all .7s ease;
    }

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    html,body{
        margin-left:20px !important;
        margin-right:20px !important;
    }  

    .scrollup {
        height: 110px;
    }
    
    .footer-content{
        padding-top: 3px;
        padding-bottom: 5px;
    }

   
    #logo img{
        width: 35%;
        margin-top: 10px;
    }

    .navigation{
        margin-top: 5px;
    }
    
    .navigation-list{
        margin-bottom: 10px;    
    }
    
    .profile{
        margin-top: 30px;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
    html,body{
        margin-left:10px !important;
        margin-right:10px !important;
    }
   
    #footer-content{
        padding-bottom: 0px;
        font-size: 7px !important;
        line-height: 9px;
    }

    #logo img{
        width: 45%;
        margin-top: 10px;
    }

    .navigation-list li{
        display: block;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}
