
html,body{
    margin:0 !important;
    margin-left: 0!important;
    padding:0 !important;
    max-width: 100%;
    text-align:left;
    background-image: url('img/skin_side_up.png');
    background-repeat: repeat;
} 

/*-------Navigation-------*/    
.navigation{
	position: fixed;
    width: 100%;
	z-index: 10;
    margin-left:0 !important;
    text-align:center;
}

.navigation-list{
    margin-top: 30px;    
}
.navigation ul{
    margin-left: 0;
    text-align: center;
}

.navigation li{
    display:inline;
	list-style-type: none;
	margin-right: 20px;
	margin-left: 20px;
    border-bottom: 2px solid #FBB15B;
}

.navigation a{
	font-family: 'Antic Slab', serif;;
	font-weight: 300;
	font-size: 13px;
	color:	black;
    text-transform: uppercase;
    font-stretch:expanded;
    text-decoration: none;
    padding-bottom: 2px;
}

.navigation a:hover{
	color:	#808080;
	text-decoration: none;
}

#logo img{
    width: 24%;
    margin-top: 10px;
}